@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: $space-4;
  padding-right: $space-4;

  @include respond-to('md') {
    padding-left: $space-6;
    padding-right: $space-6;
  }

  @include respond-to('xl') {
    padding-left: $space-8;
    padding-right: $space-8;
  }
}

.sm {
  max-width: 768px;
}

.md {
  max-width: 1024px;
}

.lg {
  max-width: 1240px;
}

.full {
  max-width: 100%;
}
